@import url("https://fonts.googleapis.com/css?family=Inconsolata" );
@import url("https://fonts.googleapis.com/css?family=Space Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    padding: none;
    margin: none;
    box-sizing: border-box;
    
    list-style: none;

}

:root {
    --Scarecrow: url("../Images/lc.png");
    --font1: "Inconsolata";
    --line-height: 36px;
    --letter-spacing: -0.035em;
    --text-color: #4F4F4F;
}
.landingmain{
    height:screen;
    padding:0px 5%;
    box-sizing: border-box;
    height:80%;
    background-color: #FFFFFF;
    padding:30px 50px;
    border-radius: 20px;
    margin: 0px 0px;
  
}

.intro-text {
    font-weight: 700;
    font-size: 44px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom:5%;
    letter-spacing: .5px;
}

.intro-text {
    font-family: var(--font1);
}

.landing-container {
    display: flex;
    justify-content: space-between;
    gap:10%;
    padding: 20px;
}

.Scarecrow {
    content: var(--Scarecrow);
    width: 50%;
   
  }



.error-text {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
    padding: 20px 10px;
    margin-top: 20px;
    word-spacing: 1px;
}

.error-heading {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 71px;
    letter-spacing: -0.035em;
    color: black;
    word-wrap: none;
    padding-bottom: 40px;
    margin-top: 40px;
}

.getstarted-button {
    width: 216px;
    height: 68px;
    background: #333333;
    font-family: 'Space Mono';
    display:flex;
    justify-content: center;
    margin-top:5px;
    border-radius: 100px;
    
  

}
.getstarted-button .a {
    color: white;
    text-decoration: none;
    font-family: 'Space Mono';
    display: block;
}
.getStartedbtn{
    background: none;
    border: none;
    display: block;
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    align-self: center;
      text-decoration: none;
      letter-spacing: 1px;
   
      display: block;
}
.searchbar{
  padding:  10px 20px;
  width: 50%;
  border-radius: 20px 0 0 20px;
  border:  2px solid black;
  outline: none;

}
.search-btn{
    border-radius: 0px 20px 20px 0px;
    border: 2px solid;
    border-left: none;
    width: 60px;
    text-align: center;
    

}
.search-btn  .fa-search{
   padding: 10px 20px;
   font-size: 20px;
   padding-bottom: 10.5px;
   padding-top: 6.5px;
   align-self: center;
 


}
@media screen and (max-width:360px),
(max-width:750px) {
    .Scarecrow {
        content: var(--Scarecrow);
        width: 60%;
        height: 60%;
      text-align:center;
    }
    
    .intro-text{
      font-size: 22px;
    }
    .landing-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

      
        
    }

    .error-heading {
        
        word-wrap: none;
        line-height: 71px;
        font-size: 50px;
        padding: 20px 0;
        margin-top: 20px;


    }

    .error-text {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        padding: 10px 10px;
        word-spacing: 2px;
    }

    .getstarted-button {
        width: 216px;
        height: 68px;
        background: #333333;
        display:flex;
        text-align: center;
        margin: auto;
        margin: 20px auto;
    }

    .getstarted-button a {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        align-self: center;
        letter-spacing: 1px;
        
    }
    .landingmain{
        height:screen;
        padding:0px 5%;
        box-sizing: border-box;
        height:80%;
        background-color: white;
        padding:30px 0px;
        margin: 0;
        
        border-radius: 0px;
      
    }
   
}
