@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background:black ;

}
.logo{
    padding: 35px;
    margin-left: 50px;
   
}
.logo h1 {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}

.logo h1::before,
.logo h1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    background-color: #fff; 
    transition: width 0.3s ease; 
    
}

.logo h1::before {
    top: 0;
    left: 0;
}

.logo h1::after {
    bottom: 0;
    right: 0;
}

.logo h1:hover::before,
.logo h1:hover::after {
    width: 100%; 
}




.nav-items ul {
    display: flex;
    list-style: none;
    padding: 35px;
    margin-right: 50px;
}

.nav-items ul li {
    margin-right: 50px;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    position: relative; 
}

.nav-items ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease; 
}

.nav-items ul li a:hover::before {
    transform: scaleX(1); 
    transform-origin: left;
}

.logout-btn{
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    border: none;


}
.logout-btn:hover {
    background: black;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition:  0.5s ease-out,  0.5s ease-out;
}
.logout-btn:not(:hover) {
    transition: .5s;
    color: initial;
}
a{
    pointer-events: none;
}


/*-----------response---------*/

  