@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background:black ;
    width: 100%;
    border-bottom: #fff;
    box-shadow:  0 4px 10px rgba(255, 252, 252, .4); 
    

}
.logo{
    padding: 35px;
    margin-left: 50px;
   
}
.logo h1 {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}

.logo h1::before,
.logo h1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    background-color: #fff; 
    transition: width 0.3s ease; 
    
}

.logo h1::before {
    top: 0;
    left: 0;
}

.logo h1::after {
    bottom: 0;
    right: 0;
}

.logo h1:hover::before,
.logo h1:hover::after {
    width: 100%; 
}




.nav-items ul {
    display: flex;
    list-style: none;
    padding: 35px;
    margin-right: 50px;
}

.nav-items ul li {
    margin-right: 50px;
}

.nav-items ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
    position: relative; 
}

.nav-items ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0); 
    transform-origin: right;
    transition: transform 0.3s ease; 
}

.nav-items ul li a:hover::before {
    transform: scaleX(1); 
    transform-origin: left;
}

.logout-btn{
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    border: none;


}
.logout-btn:hover {
    background: black;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition:  0.5s ease-out,  0.5s ease-out;
}
.logout-btn:not(:hover) {
    transition: .5s;
    color: initial;
    
}

/*-----------hamburg menu-----*/
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 10%;
    height: 10%;
    margin: 0;
    margin-top: 15px;
    margin-left: 170px;
    display: none;
  }
  .line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 8;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 8;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 8;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 8;
  }



.hamburger-nav-items ul li a{
    color: black;
    text-decoration: none;
    line-height: 30px;
    font-weight:bold;
    
}

.display-items {
    max-height: 500px;
    transition: max-height 0.8s ease-in-out; /* Apply transition to max-height */
    overflow: hidden;
  }
  
  .hide-items {
    max-height: 0;
    transition: man-height 0.8s ease-in-out; /* Apply transition to max-height */
    overflow: hidden;
  }
  
  
  




/*-----------response---------*/

@media (max-width:500px){
    .logo h1{
        font-size: 1.2rem;

    }
    .logo{
        margin-left: 0;
        padding: 15px;
        
    }

    .nav-items ul{
        display: none;
    }
    .menu{
        display:block;
    }
    .hamburger-nav-items{
        background: rgb(219, 217, 217);
        padding-bottom: 15px;

    }

}
@media  (max-width:390px){
    .menu{
        margin-left: 120px;
        
    }
}



  